.inputed.image{
    width: 100px;
    height: 100px;
    border: 1px solid #eee;
}

.fullw{
    width: 100%;
}

*{
    outline: none;
}
select:focus, select:active {
    border-color: #85b7d9 !important;
}