body{
    margin: 0;
    padding: 50px 0 0 0 !important;
    /*overflow: hidden;*/
}

#header {
    position: fixed;
    z-index: 2100;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #F36F24;
    box-shadow: 0 0 5px #000;
    box-sizing: border-box;
    padding: 5px;
}

#header > img{
    height: 100%;
    float: left;
}
#header > i{
    float: right;
    font-size: 28px;
    margin-top: 10px;
    color: white;
}
#header > h4 {
    font-size: 18px;
    color: white;
    line-height: 2.3;
    margin: 0;
    padding-left: 10px;
    padding-right: 5px;
}

#left_menu {
    position: fixed;
    z-index: 2120;
    top: 0;
    width: 18rem;
    height: 100%;
    background-color: white;
    box-shadow: 0 0 5px black;
    padding-top: 4.8rem;
    left: -18rem;
    display: none;
}
#left_menu_subcon{
    overflow-y: scroll;
    height: 100%;
}
#left_menu > div.menu {
    width: 100%;
    box-shadow: none !important;
    border-radius: 0;
    font-size: 16px;
}
#left_menu > div.menu > div.item {
    position: absolute !important;
    top: 0 !important;
}
#left_menu > div > div > span.appversion {
    display: inline-block;
    color: #888;
    margin-left: 20px;
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#pages{
    height: 100%;
}

.lm_sep {
    display: inline-block;
    width: 100%;
    background-color: #ccc;
    color: #444;
    font-size: 12px;
    padding-left: 18px;
}

.page {
    box-sizing: border-box;
    display: none;
    width: 100%;
    height: 100%;
    background-color: white;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0 !important;
    border: none !important;
    border-radius: 0 !important;
    padding: 20px;
}


.bbp{
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}
.bbp.p0 {
    z-index: 2101;
}
.bbp.p1 {
    z-index: 2130;
}
.bbp.p2 {
    z-index: 2200;
}

.void_container{
    display: none;
}
.popup {
    position: fixed !important;
    z-index: 2135 !important;
    top: 50% !important;
    left: 50% !important;
    background-color: white !important;
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
    box-sizing: border-box !important;
    padding: 10px !important;
    opacity: 0;
    display: none;
    max-width: unset !important;
    width: 260px !important;
    margin-left: -130px !important;
}
.popup::before {
    display: none !important;
}

#fab {
    position: fixed;
    z-index: 2000;
    top: 100%;
    left: 100%;
    width: 4rem;
    height: 4rem;
    box-sizing: border-box;
    padding: 1.3rem 1rem;
    border-radius: 50%;
    background-color: #F36F24;
    margin-top: -5rem;
    margin-left: -5rem;
    font-size: 1.7rem;
    color: white;
    box-shadow: 1px 1px 10px #999;
    display: none;
}
#menu_popup{
    width: 60%;
    height: 160px;
    margin-left: -30%;
    margin-top: -80px;
}
#menu_popup > h4 {
    text-align: center;
    height: 20px;
    margin-bottom: 20px;
}
#menu_popup > div > div {
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 17px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin-bottom: -1px;
    user-select: none;
}

.fullop{
    opacity: 1 !important;
}
.nomargin{
    margin: 0;
}
.nomargin_o{
    margin: 0 !important;
}

#loading_screen{
    position: fixed;
    z-index: 3000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-color: #f9f9f9;
}
#loading_screen > img{
    width: 100%;
    margin-top: 45%;
}
#loading_screen > h3{
    text-align: center;
    color: #555;
    margin: 0 0 10px 0;
}
#loading_screen > img.spinner{
    position: relative;
    width: 60px;
    height: 60px;
    left: 50%;
    margin-top: 50px;
    margin-left: -30px;
}