#page_orders{
    padding: 10px;
}

.ord_item {
    width: 100%;
    height: 80px;
    border: 1px solid #ddd;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: -1px;
}
.ord_item > div {
    width: 80px;
    height: 58px;
    border-right: 1px solid #ddd;
    text-align: center;
    padding-top: 8px;
    padding-right: 7px;
    margin: 0 10px 0 0;
    float: left;
}
.ord_item > div.pending{
    color: orangered;
}
.ord_item > div.completed{
    color: limegreen;
}
.ord_item > div.total {
    width: 100px;
}
.ord_item > div.customer {
    width: unset;
    border-right: none;
    padding-right: 0;
    padding-top: 0;
}
.ord_item > div > i {
    font-size: 28px;
    opacity: 0.8;
}
.ord_item > div > span {
    font-size: 15px;
}
.ord_item > div > h3 {
    margin: 0;
    font-size: 17px;
}
.ord_item > div > h4{
    margin: 0;
}

.status.pending{
    color: orangered;
}
.status.completed{
    color: limegreen;
}

#page_order{
    padding: 0;
}
#page_order > div.segments{
    box-shadow: none !important;
    border-radius: 0 !important;
}
#page_order > div > div.segment > h4, #page_order > div > div.segments > div > h4 {
    margin: 3px 0 5px 0;
}
#page_order > div > div.segment > span{
    margin: 0;
    font-size: 13px;
}
#page_order > div > div > div.segment > h4.total {
    font-size: 17px;
    color: limegreen;
}

.order_table {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.order_table > thead > tr > th.first{
    text-align: left;
}
.order_table > thead > tr > th.second {
    text-align: center;
}
.order_table > thead > tr > th.third {
    text-align: right;
    padding-right: 5px;
}

.order_table > tbody > tr > td.first {
    text-align: left;
    border-left: none !important;
}
.order_table > tbody > tr > td.second {
    text-align: center;
}
.order_table > tbody > tr > td.third {
    text-align: right;
    padding-right: 5px;
}

.order_table > tbody > tr > td, .order_table > thead > tr > th {
    padding: 4px;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
}

#order_popup{
    width: 62%;
    height: 200px;
    margin-left: -31%;
    margin-top: -100px;
}
#order_popup > button{
    width: 100% !important;
    margin-bottom: 10px;
}
#order_popup > button.last {
    margin-top: 50px;
}

#ords_popup {
    width: 70vw;
    height: 250px;
    margin-left: -35vw;
    margin-top: -125px;
}